/*body{
	padding:10px;
}*/
/*
#sel1 {
    width: 50%;
}

#inputWid {
    width: 50%;
}*/

#aDeco1 {
    text-decoration: none;
    color: white;
}

#aDeco2 {
    text-decoration: none;
    color: white;
}

#aDeco3 {
    text-decoration: none;
    color: white;
}

#aDeco4 {
    text-decoration: none;
    color: white;
}

#aDeco5 {
    text-decoration: none;
    color: white;
}

.handPoint{
    cursor:pointer
}

.divText {
    height: 4em;
    line-height: 1em;
    overflow: auto;
}

.dangerAtag {
    color: #e74c3c;
    cursor:pointer;
}

.infoAtag {
    color: #3498db;
}

#kolica {
    width:50px;
    height: 50px;
    padding-top: 8px;
}

.trgh3 {
    padding: 0px 15px 15px 15px;
    margin-top: -5px;
}

.navFont {
    font-size: 18px;
}

#spiner {
    padding: 15px 1px 15px 1px;
}

@media (min-width: 768px ) {
        .modal-dialog {
        position: absolute;
        left: 50%;
        margin-left: -312px;
        height: 500px;
        top: 50%;
        margin-top: -250px;
    }
}

.table-responsive
{
    overflow-x: auto;
}

@media 
only screen and (max-width: 480px )  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
    
    /*
	Label the data
	*/
	td:nth-of-type(1):before { content: "Proizvod:"; }
	td:nth-of-type(2):before { content: "Količina:"; }
	td:nth-of-type(3):before { content: "Cijena:"; }
	td:nth-of-type(4):before { content: "Ukupno:"; }
    td:nth-of-type(5):before { content: "Npomena:"; }
    td:nth-of-type(6):before { content: "Uredi:"; }
    td:nth-of-type(7):before { content: "Izbriši:"; }
}

.tablePad {
    margin-top: 4.8%;
}

.formPad {
    margin-top: 8%;
}

#liPad {
    padding-right: 550px;
}