<!DOCTYPE html>
<html ng-app="trgApp">

<head>
    <meta charset="UTF-8">

    <title>TrgovinApp</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />

    <!--angular-chart stylesheet-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/angular.chartjs/0.8.8/angular-chart.css" />
    <!--Font-awsome za Firefox
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/3.2.1/css/font-awesome.min.css" media="all" rel="stylesheet" type="text/css">-->

    <!--bower:css-->
    <link rel="stylesheet" href="/lib/bootswatch-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css" />
    <!--endbower-->

    <!--inject:css-->
    <link rel="stylesheet" href="/css/angular-csp.css">
    <link rel="stylesheet" href="/css/animations.css">
    <link rel="stylesheet" href="/css/ng-animate.css">
    <link rel="stylesheet" href="/css/style.css">
    <!--endinject-->

    <link rel="apple-touch-icon" sizes="57x57" href="favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
    <link rel="manifest" href="favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

</head>

<body ng-cloak>

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button class="navbar-toggle col-lg-3" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img id="kolica" class="img-responsive" src="favicon/shopping-cart-grey-md2.png">
            </div>
            <div class="navbar-header hidden-xs">
                <a class="navbar-brand" href="#/"><h3 class="trgh3">TrgovinApp</h3></a>
            </div>
            <div class="container">
                <div ng-controller="klijentiController" class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navFont">
                        <li ng-class="{ active: isActive('/')}"><a ng-href="#/klijenti">Klijenti <span class="sr-only">(current)</span></a></li>
                        <li ng-class="{ active: isActive('/kupovine')}"><a ng-href="#/kupovine">Kupovine</a></li>
                        <li ng-class="{ active: isActive('/tecaj')}"><a ng-href="#/tecaj">Tečaj</a></li>
                        <li ng-class="{ active: isActive('/pretraga')}"><a ng-href="#/pretraga"><i class="fa fa-search" aria-hidden="true"></i> Traži</a></li>
                        <li ng-controller="authController"><a href="#" ng-click="login()" ng-if="!auth.isAuthenticated">Login</a></li>
                        <li ng-controller="authController"><a href="#/login" ng-click="logout()" ng-if="auth.isAuthenticated">Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <br /><br /><br />
    <div ng-view class="slide-animation"></div>

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
            </div>
        </div>
    </div>

    <!--bower:js-->
    <script src="/lib/angular/angular.js"></script>
    <script src="/lib/angular-route/angular-route.js"></script>
    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="/lib/bootswatch-dist/js/bootstrap.min.js"></script>
    <script src="/lib/angular-ui-mask/dist/mask.js"></script>
    <script src="/lib/angular-animate/angular-animate.js"></script>
    <!--endbower-->
    
    <!--Chart i Angular-chart skripte-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.js"></script>
    <script src="https://cdn.jsdelivr.net/angular.chartjs/0.8.8/angular-chart.min.js"></script>
    <!-- Auth0's Angular SDK Library -->
    <script type="text/javascript" src="https://cdn.auth0.com/w2/auth0-angular-4.js"></script>
    <!-- Angular wrapper for localStorage and sessionStorage. Defaults to ng-cookies if not available -->
    <script src="http://cdn.rawgit.com/auth0/angular-storage/master/dist/angular-storage.js" type="text/javascript"></script>
    <!-- Angular wrapper library for JWT-->
    <script src="http://cdn.rawgit.com/auth0/angular-jwt/master/dist/angular-jwt.js" type="text/javascript"></script>
    <!-- Angular cookie wrapper library for client cookies -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.0/angular-cookies.js"></script>
    <!-- Auth0's lock widget library -->
    <!--<script type="text/javascript" src="https://cdn.auth0.com/js/lock-7.12.min.js"></script>-->
    <script src="http://cdn.auth0.com/js/lock-9.1.min.js"></script>

    <!--inject:js-->
    <script src="/app.js"></script>
    <script src="/controllers/authController.js"></script>
    <script src="/controllers/klijentiController.js"></script>
    <script src="/controllers/kupovineAllController.js"></script>
    <script src="/controllers/kupovineController.js"></script>
    <script src="/controllers/noviklijentController.js"></script>
    <script src="/controllers/pretragaController.js"></script>
    <script src="/controllers/tecajController.js"></script>
    <script src="/controllers/urediKlijentController.js"></script>
    <script src="/services/trgovinaFactory.js"></script>
    <script src="/services/ukupnaCijenaFactory.js"></script>
    <script src="/filters/pocniOd.js"></script>
    <script src="/filters/telFilter.js"></script>
    <script src="/directives/confirmDirective.js"></script>
    <!--endinject-->
</body>

</html>