<div class="container">
    <hr>
    <div class="row">
        <div class="col-sm-4">
            <h1>Klijenti:</h1>
        </div>
    </div>
    <!--<div class="row">
        <div class="col-md-2">
            <div class="form-group">
                <label class="control-label">Traži Po:</label>
                <select class="form-control" ng-model="traziPo">
                    <option value="id">ID</option>
                    <option selected value="ime">Ime</option>
                    <option value="prezime">Prezime</option>
                    <option value="adresa">Adresa</option>
                    <option value="kontaktBroj">Broj telefona</option>
                    <option value="napomena">Napomena</option>
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label class="control-label">Traži:</label>
                <input class="form-control" type="text" placeholder="Unesite pojam" ng-model="trazi[traziPo]">
            </div>
        </div>
    </div>-->
    <br />
    <div class="row">
        <div class="col-md-4" ng-repeat="klijent in klijenti | orderBy:'-updatedAt' | filter: trazi | pocniOd:trenutnaStr*strVelicina | limitTo:strVelicina">
            <div class="{{classPanel}}" ng-mouseenter="addClass()" ng-mouseleave="removeClass()">
                <div class="panel-heading">
                    <a id="aDeco1" ng-href="#/kupovine/{{ klijent.id }}" data-toggle="tooltip" data-placement="top" title="Pogledaj kupovine"
                        onmouseenter="$(this).tooltip('show')">
                        <h3 class="panel-title">Klijent Id: #{{ klijent.id }} <i class="fa fa-list col-md-1 pull-right" aria-hidden="true"></i></h3>
                    </a>
                </div>
                <div class="panel-body">Ime: {{ klijent.ime }} {{ klijent.prezime }}</div>
                <div class="panel-body">Adresa: {{ klijent.adresa }}</div>
                <div class="panel-body">Broj telefona: {{ klijent.kontaktBroj | telFilter }}</div>
                <div class="panel-body divText">Napomena: {{ klijent.napomena }}</div>
                <div class="panel-body" ng-if="auth.profile.roles[0]==='admin'">
                    <a class="infoAtag" ng-href="#/uredi/{{ klijent.id }}" data-toggle="tooltip" data-placement="left" title="Uredi klijenta"
                        onmouseenter="$(this).tooltip('show')">
                        <i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i>
                    </a>
                    <a class="pull-right dangerAtag" ng-really-message="Klijent {{klijent.ime}} {{ klijent.prezime }} bit će izbrisan!" ng-really-click="brisi(klijent.id)"
                        data-toggle="tooltip" data-placement="right" title="Briši klijenta" onmouseenter="$(this).tooltip('show')">
                        <i class="fa fa-times fa-2x" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <ul class="pager">
                <li class="handPoint"><a ng-click="prethodna()">&laquo; Prethodna</a></li>
                {{trenutnaStr+1}}/{{brojStranica()}}
                <li class="handPoint"><a ng-click="sljedeca()">Sljedeća &raquo;</a></li>
                <hr>
            </ul>
        </div>
    </div>
    <div class="row" ng-if="auth.profile.roles[0]==='admin'">
        <div class="col-sm-12">
            <a ng-href="#/novi_klijent">
                <button class="btn btn-lg btn-info pull-right">Dodaj</button>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <hr>
        </div>
    </div>
</div>