<div class="container">
    <hr>
    <div class="row">
        <div class="col-sm-4 col-md-offset-2">
            <h1>Kupovine:</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <br />
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h4>Klijent Id: #{{klijent.id}}</h4>
            <h4>Ime i prezime: {{klijent.ime}} {{klijent.prezime}}</h4>
            <table class="table table-responsive table-striped table-bordered table-hover tablePad">
                <thead>
                    <tr>
                        <th class="text-center">Proizvod</th>
                        <th class="text-center">Količina</th>
                        <th class="text-center">Cijena</th>
                        <th class="text-center">Ukupno</th>
                        <th class="text-center">Napomena</th>
                        <th class="text-center" ng-if="auth.profile.roles[0]==='admin'">Uredi</th>
                        <th class="text-center" ng-if="auth.profile.roles[0]==='admin'">Izbriši</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="kupovina in kupovine">
                        <td class="text-center">{{kupovina.proizvod}}</td>
                        <td class="text-center">{{kupovina.kolicina}}</td>
                        <td class="text-center">{{(kupovina.cijena | number:2 )+ " BAM"}}</td>
                        <td class="text-center">{{(kupovina.ukupno | number:2 )+ " BAM"}}</td>
                        <td class="text-center">
                            <a class="infoAtag handPoint" data-toggle="modal" data-target="#myModal{{$index}}"><i class="fa fa-list fa-2x" aria-hidden="true "></i></a>
                            <div class="modal fade" id="myModal{{$index}}" role="dialog">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title text-justify">Napomena</h4>
                                        </div>
                                        <div class="modal-body text-justify">
                                            <p>{{kupovina.napomena}}</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Zatvori</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td class="text-center" ng-if="auth.profile.roles[0]==='admin'">
                            <a class="infoAtag" ng-href="#/uredikupovinu/{{ kupovina.id }}" data-toggle="tooltip" data-placement="left" title="Uredi
                                kupovinu " onmouseenter="$(this).tooltip( 'show') ">
                                <i class="fa fa-pencil-square-o fa-2x " aria-hidden="true "></i>
                            </a>
                        </td>
                        <td class="text-center" ng-if="auth.profile.roles[0]==='admin'">
                            <a class="dangerAtag" ng-really-message="Kupovina za {{kupovina.proizvod}} bit će izbrisana!" ng-really-click="brisi(kupovina.id)"
                                data-toggle="tooltip" data-placement="right" title="Briši kupovinu" onmouseenter="$(this).tooltip('show')">
                                <i class="fa fa-times fa-2x" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div ng-if="ukupno" class="panel panel-success col-md-12">
                <div class="panel-body pull-right">
                    Ukupno: {{(ukupno | number:2 )+ " BAM"}}
                </div>
            </div>
        </div>
        <!--<div class="col-md-5 col-md-offset-1 ">
            <form class="form-horizontal ">
                <fieldset>
                    <legend>Nova kupovina:</legend>
                    <div class="form-group formPad ">
                        <label for="proizvod " class="col-md-2 control-label ">Proizvod</label>
                        <div class="col-md-10 ">
                            <input type="text " class="col-md-10 form-control " id="proizvod " placeholder="Naziv proizvoda
                                " ng-model="kupovine.kupovina.proizvod ">
                        </div>
                    </div>
                    <div class="form-group ">
                        <label for="kolicina " class="col-md-2 control-label ">Količina</label>
                        <div class="col-md-10 ">
                            <input type="number " step="any " min="0 " class="form-control " id="kolicina
                                " placeholder="Količina " ng-model="kupovine.kupovina.kolicina ">
                        </div>
                    </div>
                    <div class="form-group ">
                        <label for="cijena " class="col-md-2 control-label ">Cijena</label>
                        <div class="col-md-10 ">
                            <input type="number " step="any " min="0 " class="form-control " id="cijena " placeholder="Cijena
                                " ng-model="kupovine.kupovina.cijena ">
                        </div>
                    </div>
                    <div class="form-group ">
                        <label for="napomena " class="col-md-2 control-label ">Napomena</label>
                        <div class="col-md-10 ">
                            <textarea class="form-control input-md " rows="3 " id="napomena " placeholder="Napomena
                                " ng-model="kupovine.kupovina.napomena "></textarea>
                            <span class="help-block "></span>
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="col-md-12 ">
                            <div ng-if="dodan " class="alert alert-dismissible alert-success ">
                                <button type="button " class="close " data-dismiss="alert ">&times;</button>
                                <strong><i class="fa fa-check " aria-hidden="true "></i></strong> Uspješno ste dodali novu
                                kupovinu!
                            </div>
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="col-md-12 ">
                            <div ng-if="nedodan " class="alert alert-dismissible alert-danger ">
                                <button type="button " class="close " data-dismiss="alert ">&times;</button>
                                <strong><i class="fa fa-exclamation-triangle " aria-hidden="true "></i></strong> Došlo je do
                                greške pri dodavanju novu kupovinu.
                            </div>
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="col-md-10 col-md-offset-2 pull-right ">
                            <a ng-href="#/ ">
                                <button type="reset " class="btn btn-danger ">Natrag</button>
                            </a>
                            <button ng-click="addKupovina() " class="btn btn-success " ng-disabled="!kupovine.kupovina.proizvod
                                || !kupovine.kupovina.kolicina || !kupovine.kupovina.cijena || !kupovine.kupovina.napomena ">Spremi</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>-->
    </div>
    <br />
    <div class="row">
        <canvas id="doughnut" class="chart chart-doughnut" chart-data="data" chart-labels="labels">
        </canvas>
    </div>
    <br />
    <div class="row ">
        <div class="col-md-12">
            <a ng-href="#/">
                <button class="btn btn-default col-md-offset-2">Natrag</button>
            </a>
            <button class="btn btn-info" data-toggle="modal" data-target="#novimodal" ng-if="auth.profile.roles[0]==='admin'">Dodaj</button>
            <div class="modal fade " id="novimodal" role="dialog ">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title text-justify">
                                <legend>Nova kupovina:</legend>
                            </h4>
                        </div>
                        <div class="modal-body text-justify">
                            <form class="form-horizontal">
                                <fieldset>
                                    <div class="form-group formPad">
                                        <label for="proizvod" class="col-md-2 control-label">Proizvod</label>
                                        <div class="col-md-10">
                                            <input type="text" class="col-md-10 form-control" id="proizvod" placeholder="Naziv proizvoda" ng-model="novaKupovina.proizvod">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="kolicina" class="col-md-2 control-label">Količina</label>
                                        <div class="col-md-10">
                                            <input type="number" step="any" min="0" class="form-control" id="kolicina" placeholder="Količina" ng-model="novaKupovina.kolicina">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="cijena" class="col-md-2 control-label">Cijena</label>
                                        <div class="col-md-10">
                                            <input type="number" step="any" min="0" class="form-control" id="cijena" placeholder="Cijena" ng-model="novaKupovina.cijena">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="napomena" class="col-md-2 control-label">Napomena</label>
                                        <div class="col-md-10">
                                            <textarea class="form-control input-md" rows="3" id="napomena" placeholder="Napomena" ng-model="novaKupovina.napomena"></textarea>
                                            <span class="help-block "></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div ng-if="dodan" class="alert alert-dismissible alert-success col-md-offset-2">
                                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                                <strong><i class="fa fa-check" aria-hidden="true"></i></strong> Uspješno
                                                ste dodali novu kupovinu!
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div ng-if="nedodan" class="alert alert-dismissible alert-danger col-md-offset-2">
                                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                                <strong><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></strong>                                                Došlo je do greške pri dodavanju novu kupovinu.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-10 col-md-offset-2 pull-right">
                                            <button class="btn btn-danger" data-dismiss="modal">Zatvori</button>
                                            <button ng-click="addKupovina()" class="btn btn-success" ng-disabled="!novaKupovina.proizvod || !novaKupovina.kolicina || !novaKupovina.cijena || !novaKupovina.napomena ">Spremi</button>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <hr>
        </div>
    </div>
</div>