<div class="container">
    <hr>
    <div class="row">
        <div class="col-sm-4 col-md-offset-2">
            <h1>Kupovine:</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <br />
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <table class="table table-responsive table-striped table-bordered table-hover tablePad">
                <thead>
                    <tr>
                        <th class="text-center">Proizvod</th>
                        <th class="text-center">Količina</th>
                        <th class="text-center">Cijena</th>
                        <th class="text-center">Ukupno</th>
                        <th class="text-center">Napomena</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="kupovina in kupovine">
                        <td class="text-center">{{kupovina.proizvod}}</td>
                        <td class="text-center">{{kupovina.kolicina}}</td>
                        <td class="text-center">{{(kupovina.cijena | number:2 )+ " BAM"}}</td>
                        <td class="text-center">{{(kupovina.ukupno | number:2 )+ " BAM"}}</td>
                        <td class="text-center">
                            <a class="infoAtag handPoint" data-toggle="modal" data-target="#myModal{{$index}}"><i class="fa fa-list fa-2x" aria-hidden="true "></i></a>
                            <div class="modal fade" id="myModal{{$index}}" role="dialog">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title text-justify">Napomena</h4>
                                        </div>
                                        <div class="modal-body text-justify">
                                            <p>{{kupovina.napomena}}</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Zatvori</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="panel panel-success col-md-12">
                <div class="panel-body pull-right">
                    Ukupno: {{(ukupno | number:2 )+ " BAM"}}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <a ng-href="#/">
                <button class="btn btn-default col-md-offset-2">Natrag</button>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <hr>
        </div>
    </div>
</div>