<div class="container">
    <br /><br />
    <div class="jumbotron">
        <h1>Dobrodošli na TrgovinApp!</h1>
        <h2>Logirajte se za nastavak.</h2>
        <br />
        <img class="img-responsive col-md-offset-4" src="favicon\shopping-cart-grey-md.png" alt="">
    </div>
</div>