<div class="container">
    <br />
    <hr>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form class="form-horizontal">
                <fieldset>
                    <legend>Novi klijent:</legend>
                    <div class="form-group">
                        <label for="ime" class="col-lg-2 control-label">Ime</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" id="ime" placeholder="Ime" ng-model="klijenti.ime">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="prezime" class="col-lg-2 control-label">Prezime</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" id="prezime" placeholder="Prezime" ng-model="klijenti.prezime">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="adresa" class="col-lg-2 control-label">Adresa</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" id="adresa" placeholder="Adresa" ng-model="klijenti.adresa">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="kontaktBroj" class="col-lg-2 control-label">Kontakt broj</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" id="kontaktBroj" ui-mask="+(999)99/999-999"  ui-mask-placeholder ui-mask-placeholder-char="_" ng-model="klijenti.kontaktBroj">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="napomena" class="col-lg-2 control-label">Napomena</label>
                        <div class="col-lg-10">
                            <textarea class="form-control input-lg" rows="3" id="napomena" placeholder="Napomena" ng-model="klijenti.napomena"></textarea>
                            <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2">
                            <a ng-href="#/">
                                <button type="reset" class="btn btn-danger">Natrag</button>
                            </a>
                            <button ng-click="addKlijent()" class="btn btn-success" ng-disabled="!klijenti.ime || !klijenti.prezime || !klijenti.adresa || !klijenti.kontaktBroj || !klijenti.napomena">Spremi</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5 col-md-offset-4">
            <div ng-if="dodan" class="alert alert-dismissible alert-success">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong><i class="fa fa-check" aria-hidden="true"></i></strong> Uspješno ste dodali novog klijenta!
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5 col-md-offset-4">
            <div ng-if="nedodan" class="alert alert-dismissible alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></strong> Došlo je do greške pri dodavanju novog
                klijenta.
            </div>
        </div>
    </div>
</div>