<div class="container">
    <hr>
    <div class="row">
        <div class="col-md-4 ">
            <h1>Pretraži po:</h1>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-4 ">
            <label class="control-label">Ime</label>
            <input type="search" class="form-control" placeholder="Traži Ime" ng-model="kli.ime" ng-change="getIme()" />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-4" ng-if="kli.ime" ng-repeat="klijent in klijenti">
            <div class="{{classPanel}}" ng-mouseenter="addClass()" ng-mouseleave="removeClass()">
                <div class="panel-heading">
                    <a id="aDeco2" ng-href="#/kupovine/{{ klijent.id }}" data-toggle="tooltip" data-placement="top" title="Pogledaj kupovine"
                        onmouseenter="$(this).tooltip('show')">
                        <h3 class="panel-title">Klijent Id: #{{ klijent.id }} <i class="fa fa-list pull-right" aria-hidden="true"></i></h3>
                    </a>
                </div>
                <div class="panel-body">Ime: {{ klijent.ime }} {{ klijent.prezime }}</div>
                <div class="panel-body">Adresa: {{ klijent.adresa }}</div>
                <div class="panel-body">Broj telefona: {{ klijent.kontaktBroj | telFilter }}</div>
                <div class="panel-body">Napomena: {{ klijent.napomena }}</div>
                <div class="panel-body" ng-if="auth.profile.roles[0]==='admin'">
                    <a class="infoAtag" ng-href="#/uredi/{{ klijent.id }}" data-toggle="tooltip" data-placement="left" title="Uredi klijenta"
                        onmouseenter="$(this).tooltip('show')">
                        <i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i>
                    </a>
                    <a class="pull-right dangerAtag" ng-click="brisi()" data-toggle="tooltip" data-placement="right" title="Briši klijenta" onmouseenter="$(this).tooltip('show')">
                        <i class="fa fa-times fa-2x" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
            <hr>
        </div>
        <br />
        <br />
    </div>
    <div class="row">
        <div class="col-md-4 ">
            <label class="control-label">Prezime</label>
            <input type="search" class="form-control" placeholder="Traži Prezime" ng-model="kli.prezime" ng-change="getPrezime()" />
        </div>
    </div>
    <br />
    <div class="row">
        <div ng-controller="klijentiController" ng-if="kli.prezime" class="col-md-4" ng-repeat="klijent in klijenti2">
            <div class="{{classPanel}}" ng-mouseenter="addClass()" ng-mouseleave="removeClass()">
                <div class="panel-heading">
                    <a id="aDeco3" ng-href="#/kupovine/{{ klijent.id }}" data-toggle="tooltip" data-placement="top" title="Pogledaj kupovine"
                        onmouseenter="$(this).tooltip('show')">
                        <h3 class="panel-title">Klijent Id: #{{ klijent.id }} <i class="fa fa-list pull-right" aria-hidden="true"></i></h3>
                    </a>
                </div>
                <div class="panel-body">Ime: {{ klijent.ime }} {{ klijent.prezime }}</div>
                <div class="panel-body">Adresa: {{ klijent.adresa }}</div>
                <div class="panel-body">Broj telefona: {{ klijent.kontaktBroj | telFilter }}</div>
                <div class="panel-body">Napomena: {{ klijent.napomena }}</div>
                <div class="panel-body" ng-if="auth.profile.roles[0]==='admin'">
                    <a class="infoAtag" ng-href="#/uredi/{{ klijent.id }}" data-toggle="tooltip" data-placement="left" title="Uredi klijenta"
                        onmouseenter="$(this).tooltip('show')">
                        <i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i>
                    </a>
                    <a class="pull-right dangerAtag" ng-click="brisi()" data-toggle="tooltip" data-placement="right" title="Briši klijenta" onmouseenter="$(this).tooltip('show')">
                        <i class="fa fa-times fa-2x" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
            <hr>
        </div>
    </div>
    <br />
    <br />
    <div class="row">
        <div class="col-md-4 ">
            <label class="control-label">Kontakt Broj</label>
            <input type="search" class="form-control" ui-mask="+(999)99/999-999" ui-mask-placeholder ui-mask-placeholder-char="_" ng-model="kli.kontaktBroj"
                ng-change="getBroj()" />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-4" ng-if="kli.kontaktBroj" ng-repeat="klijent in klijenti3">
            <div class="{{classPanel}}" ng-mouseenter="addClass()" ng-mouseleave="removeClass()">
                <div class="panel-heading">
                    <a id="aDeco4" ng-href="#/kupovine/{{ klijent.id }}" data-toggle="tooltip" data-placement="top" title="Pogledaj kupovine"
                        onmouseenter="$(this).tooltip('show')">
                        <h3 class="panel-title">Klijent Id: #{{ klijent.id }} <i class="fa fa-list pull-right" aria-hidden="true"></i></h3>
                    </a>
                </div>
                <div class="panel-body">Ime: {{ klijent.ime }} {{ klijent.prezime }}</div>
                <div class="panel-body">Adresa: {{ klijent.adresa }}</div>
                <div class="panel-body">Broj telefona: {{ klijent.kontaktBroj | telFilter }}</div>
                <div class="panel-body">Napomena: {{ klijent.napomena }}</div>
                <div class="panel-body" ng-if="auth.profile.roles[0]==='admin'">
                    <a class="infoAtag" ng-href="#/uredi/{{ klijent.id }}" data-toggle="tooltip" data-placement="left" title="Uredi klijenta"
                        onmouseenter="$(this).tooltip('show')">
                        <i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i>
                    </a>
                    <a class="pull-right dangerAtag" ng-click="brisi()" data-toggle="tooltip" data-placement="right" title="Briši klijenta" onmouseenter="$(this).tooltip('show')">
                        <i class="fa fa-times fa-2x" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
            <hr>
        </div>
    </div>
    <br />
    <br />
    <div class="row">
        <div class="col-md-4 ">
            <label class="control-label">Adresa</label>
            <input type="search" class="form-control" placeholder="Traži Adresu" ng-model="kli.adresa" ng-change="getAdresa()" />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-4" ng-if="kli.adresa" ng-repeat="klijent in klijenti4">
            <div class="{{classPanel}}" ng-mouseenter="addClass()" ng-mouseleave="removeClass()">
                <div class="panel-heading">
                    <a id="aDeco5" ng-href="#/kupovine/{{ klijent.id }}" data-toggle="tooltip" data-placement="top" title="Pogledaj kupovine"
                        onmouseenter="$(this).tooltip('show')">
                        <h3 class="panel-title">Klijent Id: #{{ klijent.id }} <i class="fa fa-list pull-right" aria-hidden="true"></i></h3>
                    </a>
                </div>
                <div class="panel-body">Ime: {{ klijent.ime }} {{ klijent.prezime }}</div>
                <div class="panel-body">Adresa: {{ klijent.adresa }}</div>
                <div class="panel-body">Broj telefona: {{ klijent.kontaktBroj | telFilter }}</div>
                <div class="panel-body">Napomena: {{ klijent.napomena }}</div>
                <div class="panel-body" ng-if="auth.profile.roles[0]==='admin'">
                    <a class="infoAtag" ng-href="#/uredi/{{ klijent.id }}" data-toggle="tooltip" data-placement="left" title="Uredi klijenta"
                        onmouseenter="$(this).tooltip('show')">
                        <i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i>
                    </a>
                    <a class="pull-right dangerAtag" ng-click="brisi()" data-toggle="tooltip" data-placement="right" title="Briši klijenta" onmouseenter="$(this).tooltip('show')">
                        <i class="fa fa-times fa-2x" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
            <hr>
        </div>
        <br />
        <br />
    </div>
    <div class="row">
        <div class="col-md-12">
            <a ng-href="#/">
                <button class="btn btn-default">Natrag</button>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <hr>
        </div>
    </div>
</div>