<div class="container">
    <hr>
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">Osnova: {{tecaj.base}}</div>
                <div class="panel-body">
                    Na dan: {{tecaj.date | date:'dd-MM-yyyy'}}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 col-sm-offset-3">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Valuta</th>
                        <th>Tečaj</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>AUD</td>
                        <td>{{tecaj.rates.AUD}}</td>
                    </tr>
                    <tr>
                        <td>BGN</td>
                        <td>{{tecaj.rates.BGN}}</td>
                    </tr>
                    <tr>
                        <td>BRL</td>
                        <td>{{tecaj.rates.BRL}}</td>
                    </tr>
                    <tr>
                        <td>CAD</td>
                        <td>{{tecaj.rates.CAD}}</td>
                    </tr>
                    <tr>
                        <td>CHF</td>
                        <td>{{tecaj.rates.CHF}}</td>
                    </tr>
                    <tr>
                        <td>CNY</td>
                        <td>{{tecaj.rates.CNY}}</td>
                    </tr>
                    <tr>
                        <td>CZK</td>
                        <td>{{tecaj.rates.CZK}}</td>
                    </tr>
                    <tr>
                        <td>DKK</td>
                        <td>{{tecaj.rates.DKK}}</td>
                    </tr>
                    <tr>
                        <td>GBP</td>
                        <td>{{tecaj.rates.GBP}}</td>
                    </tr>
                    <tr>
                        <td>HKD</td>
                        <td>{{tecaj.rates.HKD}}</td>
                    </tr>
                    <tr>
                        <td>HRK</td>
                        <td>{{tecaj.rates.HRK}}</td>
                    </tr>
                    <tr>
                        <td>HUF</td>
                        <td>{{tecaj.rates.HUF}}</td>
                    </tr>
                    <tr>
                        <td>ILS</td>
                        <td>{{tecaj.rates.ILS}}</td>
                    </tr>
                    <tr>
                        <td>INR</td>
                        <td>{{tecaj.rates.INR}}</td>
                    </tr>
                    <tr>
                        <td>JPY</td>
                        <td>{{tecaj.rates.JPY}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-3">
            <table class="table table-striped table-hover">
                <thead class="hidden-xs">
                    <tr>
                        <th>Valuta</th>
                        <th>Tečaj</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>KRW</td>
                        <td>{{tecaj.rates.KRW}}</td>
                    </tr>
                    <tr>
                        <td>MXN</td>
                        <td>{{tecaj.rates.MXN}}</td>
                    </tr>
                    <tr>
                        <td>MYR</td>
                        <td>{{tecaj.rates.MYR}}</td>
                    </tr>
                    <tr>
                        <td>NOK</td>
                        <td>{{tecaj.rates.NOK}}</td>
                    </tr>
                    <tr>
                        <td>NZD</td>
                        <td>{{tecaj.rates.NZD}}</td>
                    </tr>
                    <tr>
                        <td>PHP</td>
                        <td>{{tecaj.rates.PHP}}</td>
                    </tr>
                    <tr>
                        <td>PLN</td>
                        <td>{{tecaj.rates.PLN}}</td>
                    </tr>
                    <tr>
                        <td>RON</td>
                        <td>{{tecaj.rates.RON}}</td>
                    </tr>
                    <tr>
                        <td>RUB</td>
                        <td>{{tecaj.rates.RUB}}</td>
                    </tr>
                    <tr>
                        <td>SEK</td>
                        <td>{{tecaj.rates.SEK}}</td>
                    </tr>
                    <tr>
                        <td>SGD</td>
                        <td>{{tecaj.rates.SGD}}</td>
                    </tr>
                    <tr>
                        <td>THB</td>
                        <td>{{tecaj.rates.THB}}</td>
                    </tr>
                    <tr>
                        <td>TRY</td>
                        <td>{{tecaj.rates.TRY}}</td>
                    </tr>
                    <tr>
                        <td>USD</td>
                        <td>{{tecaj.rates.USD}}</td>
                    </tr>
                    <tr>
                        <td>ZAR</td>
                        <td>{{tecaj.rates.ZAR}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <br />
    <hr>
    <div class="row">
        <form class="form-horizontal">
            <fieldset class="container">
                <legend>Konverter</legend>
                <div class="form-group">
                    <label for="para1" class="col-sm-1 control-label">Valuta</label>
                    <div class="col-sm-2">
                        <select class="form-control" id="para1" ng-model="para1">
                            <option value="SEK" title="SEK Sweden, kronor">SEK</option>
                            <option value="ATS" title="ATS Austria, shilling">ATS</option>
                            <option value="AUD" title="AUD Australian, dollar">AUD</option>
                            <option value="BEF" title="BEF Belgien, franc">BEF</option>
                            <option value="BRL" title="BRL Brazilien, real">BRL</option>
                            <option value="CAD" title="CAD Canada, dollar">CAD</option>
                            <option value="CHF" title="CHF Switzerland, francs">CHF</option>
                            <option value="CNY" title="CNY China, yuan renminbi">CNY</option>
                            <option value="CYP" title="CYP Cyprus, pound">CYP</option>
                            <option value="CZK" title="CZK Czech Republic, koruna">CZK</option>
                            <option value="DEM" title="DEM Germany, mark">DEM</option>
                            <option value="DKK" title="DKK Denmark, krone">DKK</option>
                            <option value="EEK" title="EEK Estonian, kroon">EEK</option>
                            <option value="ESP" title="ESP Spain, pesetas">ESP</option>
                            <option value="EUR" title="EUR Euroland, euro">EUR</option>
                            <option value="FIM" title="FIM Finland, marka">FIM</option>
                            <option value="FRF" title="FRF France, franc">FRF</option>
                            <option value="GBP" title="GBP Great Britain, pound">GBP</option>
                            <option value="GRD" title="GRD Greece, drachmer">GRD</option>
                            <option value="HKD" title="HKD Hong Kong, dollar">HKD</option>
                            <option value="HUF" title="HUF Hungary, forint">HUF</option>
                            <option value="IDR" title="IDR Indonesia, rupiah">IDR</option>
                            <option value="IEP" title="IEP Ireland, pund">IEP</option>
                            <option value="INR" title="INR India, rupee">INR</option>
                            <option value="ISK" title="ISK Iceland, kronor">ISK</option>
                            <option value="ITL" title="ITL Italy, lire">ITL</option>
                            <option value="JPY" title="JPY Japan, yen">JPY</option>
                            <option value="KRW" title="KRW South Korea, won">KRW</option>
                            <option value="KWD" title="KWD Kuwait, dinar">KWD</option>
                            <option value="LTL" title="LTL Lithuania,  litas">LTL</option>
                            <option value="LVL" title="LVL Latvia, lat">LVL</option>
                            <option value="MAD" title="MAD Morocko, dirham">MAD</option>
                            <option value="MXN" title="MXN Mexico, nuevo peso">MXN</option>
                            <option value="MYR" title="MYR Malaysia, ringgit">MYR</option>
                            <option value="NLG" title="NLG Dutchland, guilder">NLG</option>
                            <option value="NOK" title="NOK Norway, krone">NOK</option>
                            <option value="NZD" title="NZD New Zealand, dollar">NZD</option>
                            <option value="PLN" title="PLN Poland, zloty">PLN</option>
                            <option value="PTE" title="PTE Portugal, escudo">PTE</option>
                            <option value="RUB" title="RUB Russia, rouble">RUB</option>
                            <option value="SAR" title="SAR Saudi Arabia, riyal">SAR</option>
                            <option value="SGD" title="SGD Singapore, dollar">SGD</option>
                            <option value="SIT" title="SIT Slovenia, tolar">SIT</option>
                            <option value="SKK" title="SKK Slovakia, koruna">SKK</option>
                            <option value="THB" title="THB Thailand, baht">THB</option>
                            <option value="TRL" title="TRL Turkey, lira">TRL</option>
                            <option value="TRY" title="TRY Turkey, new lira">TRY</option>
                            <option value="USD" title="USD US, dollar">USD</option>
                            <option value="ZAR" title="SEK Sweden, kronor">ZAR</option>
                        </select>
                    </div>
                    <label for="kolicina" class="col-sm-1 control-label">Količina</label>
                    <div class="col-sm-2">
                        <input type="number" min="0" class="form-control" id="kolicina" placeholder="1" ng-model="para2">
                    </div>
                    <label for="para2" class="col-sm-1 control-label">Valuta</label>
                    <div class="col-sm-2">
                        <select class="form-control" id="para2" ng-model="para3">
                            <option value="SEK" title="SEK Sweden, kronor">SEK</option>
                            <option value="ATS" title="ATS Austria, shilling">ATS</option>
                            <option value="AUD" title="AUD Australian, dollar">AUD</option>
                            <option value="BEF" title="BEF Belgien, franc">BEF</option>
                            <option value="BRL" title="BRL Brazilien, real">BRL</option>
                            <option value="CAD" title="CAD Canada, dollar">CAD</option>
                            <option value="CHF" title="CHF Switzerland, francs">CHF</option>
                            <option value="CNY" title="CNY China, yuan renminbi">CNY</option>
                            <option value="CYP" title="CYP Cyprus, pound">CYP</option>
                            <option value="CZK" title="CZK Czech Republic, koruna">CZK</option>
                            <option value="DEM" title="DEM Germany, mark">DEM</option>
                            <option value="DKK" title="DKK Denmark, krone">DKK</option>
                            <option value="EEK" title="EEK Estonian, kroon">EEK</option>
                            <option value="ESP" title="ESP Spain, pesetas">ESP</option>
                            <option value="EUR" title="EUR Euroland, euro">EUR</option>
                            <option value="FIM" title="FIM Finland, marka">FIM</option>
                            <option value="FRF" title="FRF France, franc">FRF</option>
                            <option value="GBP" title="GBP Great Britain, pound">GBP</option>
                            <option value="GRD" title="GRD Greece, drachmer">GRD</option>
                            <option value="HKD" title="HKD Hong Kong, dollar">HKD</option>
                            <option value="HUF" title="HUF Hungary, forint">HUF</option>
                            <option value="IDR" title="IDR Indonesia, rupiah">IDR</option>
                            <option value="IEP" title="IEP Ireland, pund">IEP</option>
                            <option value="INR" title="INR India, rupee">INR</option>
                            <option value="ISK" title="ISK Iceland, kronor">ISK</option>
                            <option value="ITL" title="ITL Italy, lire">ITL</option>
                            <option value="JPY" title="JPY Japan, yen">JPY</option>
                            <option value="KRW" title="KRW South Korea, won">KRW</option>
                            <option value="KWD" title="KWD Kuwait, dinar">KWD</option>
                            <option value="LTL" title="LTL Lithuania,  litas">LTL</option>
                            <option value="LVL" title="LVL Latvia, lat">LVL</option>
                            <option value="MAD" title="MAD Morocko, dirham">MAD</option>
                            <option value="MXN" title="MXN Mexico, nuevo peso">MXN</option>
                            <option value="MYR" title="MYR Malaysia, ringgit">MYR</option>
                            <option value="NLG" title="NLG Dutchland, guilder">NLG</option>
                            <option value="NOK" title="NOK Norway, krone">NOK</option>
                            <option value="NZD" title="NZD New Zealand, dollar">NZD</option>
                            <option value="PLN" title="PLN Poland, zloty">PLN</option>
                            <option value="PTE" title="PTE Portugal, escudo">PTE</option>
                            <option value="RUB" title="RUB Russia, rouble">RUB</option>
                            <option value="SAR" title="SAR Saudi Arabia, riyal">SAR</option>
                            <option value="SGD" title="SGD Singapore, dollar">SGD</option>
                            <option value="SIT" title="SIT Slovenia, tolar">SIT</option>
                            <option value="SKK" title="SKK Slovakia, koruna">SKK</option>
                            <option value="THB" title="THB Thailand, baht">THB</option>
                            <option value="TRL" title="TRL Turkey, lira">TRL</option>
                            <option value="TRY" title="TRY Turkey, new lira">TRY</option>
                            <option value="USD" title="USD US, dollar">USD</option>
                            <option value="ZAR" title="SEK Sweden, kronor">ZAR</option>
                        </select>
                    </div>
                    <!--<div class="col-sm-2">
                            <i id="spiner" class="fa fa-spinner fa-spin fa-lg fa-fw margin-bottom" ng-if="spinner"></i>
                        <div ng-if="convert.to_amount" class="panel panel-success">
                            <div class="panel-body">
                                <strong>=</strong> {{convert.to_amount | number:4}} {{para3}}
                            </div>
                        </div>
                    </div>-->
                    <div class="col-sm-2">
                        <i id="spiner" class="fa fa-spinner fa-spin fa-lg fa-fw margin-bottom" ng-if="spinner"></i>
                        <div ng-if="convert.ConversionRateResult" class="panel panel-success">
                            <div class="panel-body">
                                <strong>=</strong> {{convert.ConversionRateResult}} {{para3}}
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <div class="col-md-3 pull-right">
                        <a ng-href="#/">
                            <button type="reset" class="btn btn-danger">Natrag</button>
                        </a>
                        <button type="submit" class="btn btn-success" ng-click="convertValue()">Konvertiraj</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <hr>
        </div>
    </div>
</div>