<div class="container">
    <br />
    <hr>
    <div class="row">
        <div class="col-md-4 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-body">
                    Klijent kreiran: {{klijent.createdAt | date:'dd-MM-yyyy u HH:mm'}}
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    Zadnja izmjena: {{klijent.updatedAt | date:'dd-MM-yyyy u HH:mm'}}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form class="form-horizontal">
                <fieldset>
                    <legend>Uredi klijenta:</legend>
                    <div class="form-group">
                        <label for="ime" class="col-lg-2 control-label">Ime</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" id="ime" placeholder="Ime" ng-model="klijent.ime">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="prezime" class="col-lg-2 control-label">Prezime</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" id="prezime" placeholder="Prezime" ng-model="klijent.prezime">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="adresa" class="col-lg-2 control-label">Adresa</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" id="adresa" placeholder="Adresa" ng-model="klijent.adresa">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="kontaktBroj" class="col-lg-2 control-label">Kontakt broj</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" id="kontaktBroj" ui-mask="+(999)99/999-999"  ui-mask-placeholder ui-mask-placeholder-char="_" ng-model="klijent.kontaktBroj">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="napomena" class="col-lg-2 control-label">Napomena</label>
                        <div class="col-lg-10">
                            <textarea class="form-control input-lg" rows="3" id="napomena" placeholder="Napomena" ng-model="klijent.napomena"></textarea>
                            <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2">
                            <a ng-href="#/">
                                <button type="reset" class="btn btn-danger">Natrag</button>
                            </a>
                            <button ng-click="uredi()" class="btn btn-success">Spremi</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5 col-md-offset-4">
            <div ng-if="uredjen" class="alert alert-dismissible alert-success">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong><i class="fa fa-check" aria-hidden="true"></i></strong> Uspješno ste izmjenili podatke!
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5 col-md-offset-4">
            <div ng-if="neuredjen" class="alert alert-dismissible alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></strong> Došlo je do greške pri izmjeni
                podataka.
            </div>
        </div>
    </div>
    <br />
    <hr>
</div>