<div class="container">
    <br />
    <hr>
    <div class="row">
        <div class="col-md-4 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-body">
                    Kupovina kreirana: {{kupovina.createdAt | date:'dd-MM-yyyy u HH:mm'}}
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    Zadnja izmjena: {{kupovina.updatedAt | date:'dd-MM-yyyy u HH:mm'}}
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-md-offset-3">
        <form class="form-horizontal">
            <fieldset>
                <legend>Uredi kupovinu:</legend>
                <div class="form-group formPad">
                    <label for="proizvod" class="col-lg-2 control-label">Proizvod</label>
                    <div class="col-lg-10">
                        <input type="text" class="col-md-10 form-control" id="proizvod" placeholder="Naziv proizvoda" ng-model="kupovina.proizvod">
                    </div>
                </div>
                <div class="form-group">
                    <label for="kolicina" class="col-lg-2 control-label">Količina</label>
                    <div class="col-lg-10">
                        <input type="number" step="any" min="0" class="form-control" id="kolicina" placeholder="Količina" ng-model="kupovina.kolicina">
                    </div>
                </div>
                <div class="form-group">
                    <label for="cijena" class="col-lg-2 control-label">Cijena</label>
                    <div class="col-lg-10">
                        <input type="number" step="any" min="0" class="form-control" id="cijena" placeholder="Cijena" ng-model="kupovina.cijena">
                    </div>
                </div>
                <div class="form-group">
                    <label for="napomena" class="col-lg-2 control-label">Napomena</label>
                    <div class="col-lg-10">
                        <textarea class="form-control input-lg" rows="3" id="napomena" placeholder="Napomena" ng-model="kupovina.napomena"></textarea>
                        <span class="help-block"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2 pull-right">
                        <a ng-href="#/kupovine/{{ kupovina.KlijentId }}">
                            <button type="reset" class="btn btn-danger">Natrag</button>
                        </a>
                        <button ng-click="uredi()" class="btn btn-success" ng-disabled="!kupovina.proizvod || !kupovina.kolicina || !kupovina.cijena || !kupovina.napomena">Spremi</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="row">
        <div class="col-md-5 col-md-offset-4">
            <div ng-if="uredjen" class="alert alert-dismissible alert-success">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong><i class="fa fa-check" aria-hidden="true"></i></strong> Uspješno ste izmjenili podatke!
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5 col-md-offset-4">
            <div ng-if="neuredjen" class="alert alert-dismissible alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></strong> Došlo je do greške pri izmjeni
                podataka.
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <br />
            <hr>
        </div>
    </div>
</div>